<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Comics App</title>
  </head>
  <body class="home-body">
    <div id="side-a">
      <div id="sign-in-form">
        <h1>Comics.</h1>
        <h3>A Catalogue of the Marvel Universe!</h3>
        <form action="/characters">
          <div id="home-input-button-div">
            <button id="sign-in-button" type="submit">Get Sarted</button>
          </div>
        </form>
      </div>
    </div>  
    <div  id="side-b">
    
    </div>
  </body>
</html>
