@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');



* {
    box-sizing: border-box;
}

nav {
    background-color: white;
    padding: 8px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline; 
    gap: 10px;

  }

  nav a {
    color: black;
  }

  nav a :hover {
    cursor: pointer;
  }

  .home-body {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    background-color: #ffebcc;
    font-family: "Jaro", sans-serif;
    font-style: normal;
  }

  #side-a {
    border:15px solid black;
    border-radius: 5px;
    margin-left: 5px;
    width: 110vh;
    height: 97vh;
    background-color: #ffff66;
  }
  
  #side-b {
    border:15px solid black;
    border-radius: 5px;
    width: 110vh;
    height: 97vh;
    background-color: #ffad33
  }

#sign-in-form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#sign-in-input {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 300px;
    height: 50px;
    border: 2px solid black;
    border-radius: 30px;

}

input::placeholder {
    font-size: 14px; /* Change font size */
    text-align: center; /* Adjust alignment if needed */
  }

#sign-in-button {
    display: block;
    width: 100px;

}

#home-input-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* button layout and design provided by google as the have guidelines for this item */

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
  }
  
  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
  }