<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character Index</title>
  </head>
  <body>
    <h1>All Available Characters</h1>
    <ul>
        <% characters.forEach(character => { %>
            <li><a href="/characters/<%= character._id%>"><%= character.name %></a></li>
    <%  }); %>
    </ul>
    <a href="/characters/new">Request a New Characte!</a>
    <a href="/characters/search">Search for New Characters!</a>
  </body>
</html>