<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Search Characters</title>
</head>
<body class="regular-body">
    <nav>
        <a href="/">Home</a>
        <a href="/characters">Your Characters</a>
    </nav>
    <div id="search-container">
        <h1>Search for a Character</h1>
        <div id="search-div">
            <form action="/characters/search" method="POST">
                <input id="search-bar" type="text" name="query" placeholder="Enter character name" required>
                <button id="search-button" type="submit">Search</button>
            </form>
        </div>
    </div>    
</body>
</html>